 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">MedTracker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <% if (user) { %>
        <li class="nav-item">
         <a class="nav-link" href="/">Home</a></li>   
        <li class="nav-item">
          <a class="nav-link" href="/profiles">Profiles</a> </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Log Out</a>
        </li>
        <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a></li>   
        <li class="nav-item">
          <a class="nav-link" href="/auth/google">Log In | Sign up to access app features
          </a>
        </li>
        <% } %>
      </ul>
    </div>
  </nav>




  