<%- include('../partials/header') %>
<%- include('../partials/navbar') %>

<h3>Create a Profile</h3>
<form action="/profiles" method="POST" autocomplete="off">
<label>Patient Information:</label><br><br>
<label>Name:</label>
<input type="string" name="name" required>
<br>

<label>Date of Birth:</label>
<input type="date" name="dateOfBirth" required>
<br><br>

<label>Insurance Information:</label><br><br>
<label>No insurance:</label>
<input type="checkbox" name="insurance"><br>
<label>Insurance name:</label>
<input type="string" name="insName"><br>
<label>Member ID:</label>
<input type="string" name="memberId"><br>
<label>Group:</label>
<input type="string" name="group"><br>
<label>BIN Number:</label>
<input type="string" name="binNo"><br>
<label>PCN:</label>
<input type="string" name="pcn"><br>
<br>
<input type="submit" value="Add Profile">
</form>