<!DOCTYPE html>
<html>

    <%- include('./partials/header') %>
    <%- include('./partials/navbar') %>

<body>
    <p>Welcome to <%= title %></p>
    <p><a href="profiles/new">Create a new profile</a></p>



</body>

</html>